<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Hang"
           Language="1033"
           Version="__PRODUCT_VERSION__"
           Manufacturer="Hang"
           UpgradeCode="{D2E6E0CD-1B8D-4A34-9C69-44D5C8B7B2D9}">
    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Hang is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="ARPPRODUCTICON" Value="HangIcon" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Icon Id="HangIcon" SourceFile="__CLIENT_EXE__" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Hang">
          <Component Id="cmpHangClient" Guid="{C4F7621B-3CF4-4F34-9667-7300E8BDFA8E}" Win64="yes">
            <File Id="filHangClientExe" Source="__CLIENT_EXE__" KeyPath="yes" />
            <RemoveFolder Id="RemoveInstallDir" Directory="INSTALLFOLDER" On="uninstall" />
          </Component>
          <Directory Id="VlcInstallDir" Name="runtime" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Hang" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="cmpStartMenuShortcut" Guid="{AA717E43-25D1-4BD8-A2B6-86A0AE0B023F}">
        <Shortcut Id="StartMenuHang"
                  Name="Hang"
                  Target="[INSTALLFOLDER]Hang.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="HangIcon"
                  IconIndex="0" />
        <RemoveFolder Id="RemoveProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU"
                        Key="Software\Hang"
                        Name="StartMenuShortcut"
                        Type="integer"
                        Value="1"
                        KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="cmpDesktopShortcut" Guid="{BD3C0435-0800-4C87-8E09-7B1AD8F32E8C}">
        <Shortcut Id="DesktopHang"
                  Name="Hang"
                  Target="[INSTALLFOLDER]Hang.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="HangIcon"
                  IconIndex="0" />
        <RegistryValue Root="HKCU"
                        Key="Software\Hang"
                        Name="DesktopShortcut"
                        Type="integer"
                        Value="1"
                        KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="Hang" Level="1" Display="expand">
      <ComponentRef Id="cmpHangClient" />
      <ComponentGroupRef Id="VlcRuntimeGroup" />
      <Feature Id="StartMenuFeature" Title="Start Menu Shortcut" Level="1" Absent="allow">
        <ComponentRef Id="cmpStartMenuShortcut" />
      </Feature>
      <Feature Id="DesktopFeature" Title="Desktop Shortcut" Level="1" Absent="allow">
        <ComponentRef Id="cmpDesktopShortcut" />
      </Feature>
    </Feature>

    <UIRef Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="__LICENSE_RTF__" />
  </Product>
</Wix>
